[submodule "platform/application/bundles/nesty"]
	path = platform/application/bundles/nesty
	url = git@github.com:cartalyst/nesty.git
[submodule "platform/application/bundles/sentry"]
	path = platform/application/bundles/sentry
	url = git@github.com:cartalyst/sentry.git
[submodule "platform/application/bundles/theme"]
	path = platform/application/bundles/theme
	url = git@github.com:cartalyst/theme.git
[submodule "platform/application/bundles/crud"]
	path = platform/application/bundles/crud
	url = git@github.com:cartalyst/crud.git
