[submodule "platform/application/bundles/nesty"]
	path = platform/application/bundles/nesty
	url = git@github.com:cartalyst/nesty.git
[submodule "platform/application/bundles/sentry"]
	path = platform/application/bundles/sentry
	url = git@github.com:cartalyst/sentry.git
[submodule "platform/application/bundles/theme"]
	path = platform/application/bundles/theme
	url = git@github.com:cartalyst/theme.git
[submodule "platform/storage/manuals"]
	path = platform/storage/manuals
	url = git@github.com:cartalyst/manuals.git
[submodule "platform/application/bundles/gitsy"]
	path = platform/application/bundles/gitsy
	url = git@github.com:cartalyst/gitsy.git
[submodule "platform/application/bundles/oauth2"]
	path = platform/application/bundles/oauth2
	url = git@github.com:cartalyst/laravel-oauth2.git
[submodule "platform/extensions/platform/manuals"]
	path = platform/extensions/platform/manuals
	url = git@github.com:cartalyst/platform-manuals.git
