/* Common Styles */
body {
	background-image: url(../img/bg-body.png);
	margin:20px;
}

* {margin:0;padding:0;}

html, body {height: 100%;}


#cover, #manuals {min-height: 100%;
	background:#fff;
}

#main {overflow:auto;
	padding-bottom: 80px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



.well {background-color:#fff;border:1px solid #ddd;}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover { background-color:#fbfbfb; }
.fixed {position: fixed;}

/* Cover Styles */

#cover {
	background:#fff;
}
#cover .front {
	position: absolute;
	top: 40%;
	left: 50%;
	height: 320px;
	margin-top: -180px;
	width: 440px;
	margin-left: -220px;
	text-align: center;
}

#cover .brand { display: block; }
#cover .lead {float:none; padding:10px 0;}


/* Manual Styles */

#manuals {
	padding:8px;
}

#manuals .brand {
	position:absolute;
	top:36px;
	right:36px;
}
#manuals .nav {
	margin-bottom:0;
}

#manuals .page {
	clear:both;
	background-color:#fbfbfb;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
	padding:14px;
}

#toc { }
#toc h1 {padding-top:14px;}
#toc h2 {margin-bottom:20px;}
#toc img { float:left; padding:10px; }

#toc {clear: both;}


#chapter-toc .chapter-nav {
	padding:14px 0;

}

#manuals .header-edit {
	padding:20px 0;
}

.copyright {text-align:center;}






/* Prettyprint styling */
.com {
  color: #93a1a1;
}
.lit {
  color: #195f91;
}
.pun, .opn, .clo {
  color: #93a1a1;
}
.fun {
  color: #dc322f;
}
.str, .atv {
  color: #D14
}
.kwd, .linenums .tag {
  color: #1e347b;
}
.typ, .atn, .dec, .var {
  color: teal;
}
.pln {
  color: #48484c;
}

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

ol.linenums {
  margin: 0 0 0 33px;
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}



/* Editor */
.article-editor .editor {
  display: block;
  margin: 0 auto;
  width: 98%;
  resize: vertical;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Edit help */
.edit-help {
  width: 680px;
  margin-left: -340px;
}


.curl {
	display:block;
	position:absolute;
	top:20px;
	right:20px;
	height:150px;
	width:110px;
	background: transparent url(../img/curl.png) bottom right no-repeat;
}


// Landscape phones and down
@media (max-width: 480px) {

}

// Landscape phone to portrait tablet
@media (max-width: 767px) {



 }

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {



 }

// Large desktop
@media (min-width: 1200px) { ... }
