#themes .selections .active { background:#ffffff; }
#themes .selections .inactive { background:#f7f7f7; }
#themes .caption { text-align:center; }
#themes .caption h5 { padding:4px; }
#themes .caption p {
  background-color:#f7f7f7;
  padding:2px;
}
#themes .thumbnail .btn { width:90%; }
#themes header h1 { padding-top:20px; }
#themes header img {
  float:left;
  width:130px;
}
#themes .form-actions { padding-left:0; }
