#table .container {margin:0;}
#table .tabs-right {margin-left:0; float:left;}
#table .tabs-right .nav-tabs {margin-left: -1px; float: left;}
#table .table-wrapper {padding:10px; border:1px solid #ddd; background:#fff;}
#table .actions {
	background:#fff;
	border: 1px solid #ddd;
	padding:10px;
	margin-bottom:10px;
}

#table-filters select {margin-right:10px;}

.table-processing-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #777;
	opacity: .3;
	display: none;
}

/*.table_filters_wrapper {
	overflow: hidden;
}

.cartaTable_filters_wrapper label {
	float: left;
	margin-right: 5px;
	position: relative;
	top: 4px;
}*/

.table-processing {
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -125px;
	margin-top: -15px;
	border: 1px solid #d3d3d3;
	text-align: center;
	padding: 15px 60px 15px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	background-color: white;
	box-shadow: 0 3px 9px #333;
	display: none;
}

.table_processing img {
	position: relative;
	top: 3px;
	margin-right: 8px;
}

#table .sortable {
	cursor: pointer;
	background-image: url('/platform/themes/backend/default/assets/img/table/sortable.png');
	background-repeat: no-repeat;
	background-position: center right;
}

#table .sortable-asc {
	cursor: pointer;
	background-image: url('/platform/themes/backend/default/assets/img/table/sortable_asc.png');
	background-repeat: no-repeat;
	background-position: center right;
}

#table .sortable-desc {
	cursor: pointer;
	background-image: url('/platform/themes/backend/default/assets/img/table/sortable_desc.png');
	background-repeat: no-repeat;
	background-position: center right;
}

#table-pagination a.active {
	text-decoration: none;
	cursor: default;
}

#table-filters-applied {
	position: relative;
	margin-bottom:-1px;
}
