.placeholder {
  background-color:#eeeeee;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.ui-nestedSortable-error {
  background:;
  color:;
}
.platform-new-item {
  float:left;
  width:30%;
}
.platform-menu, .platform-menu ol {
  margin:0;
  padding:0;
  list-style:none;
  list-style-image:none;
}
.platform-menu { margin-left:32%; }
.platform-menu ol { margin-left:20px; }
.platform-menu li { margin:5px 0; }
.platform-menu .item {
  border:1px solid #dfdfdf;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.platform-menu .item-header, .platform-menu .item-details { padding:6px 8px; }
.platform-menu .item-header {
  position:relative;
  border:1px solid #ffffff;
  background-color:#f3f3f3;
  background-image:-moz-linear-gradient(top,#f8f8f8,#ececec);
  background-image:-ms-linear-gradient(top,#f8f8f8,#ececec);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#ececec));
  background-image:-webkit-linear-gradient(top,#f8f8f8,#ececec);
  background-image:-o-linear-gradient(top,#f8f8f8,#ececec);
  background-image:linear-gradient(top,#f8f8f8,#ececec);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(start-colorstr='#f8f8f8',end-colorstr='#ececec',GradientType=0);
  -webkit-border-radius:3px 3px 0 0;
  -moz-border-radius:3px 3px 0 0;
  border-radius:3px 3px 0 0;
  font-weight:bold;
  text-shadow:0 1px 1px #ffffff;
  cursor:move;
}
.platform-menu .item-toggle-details {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  padding:6px 8px;
  border-left:1px solid rgba(0,0,0,0.1);
  cursor:pointer;
  -webkit-transition:background-color 150ms;
  -moz-transition:background-color 150ms;
  -ms-transition:background-color 150ms;
  -o-transition:background-color 150ms;
  transition:background-color 150ms;
}
.platform-menu .item-toggle-details:hover { background-color:rgba(0,0,0,0.05); }
.platform-menu .item-details {
  display:none;
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
  border-top:1px solid #dfdfdf;
  background-color:#f9f9f9;
}
.platform-menu .item-details.show { display:block; }
@media (max-width: 767px) {
  .platform-new-item {
    float:none;
    width:auto;
  }
  .platform-menu { margin-left:0; }
}
