body {background-color:#fbfbfb;}

#installer {
	width: 480px;
	margin: 0 auto;
	margin-top: 40px;
}

#installer

#installer .brand {text-align:center; padding:20px 0; border-bottom:1px solid #ddd;}

#installer .breadcrumbs {border-bottom:1px solid #ddd; border-top:1px solid #fff;text-align:center; padding:10px 0;}
#installer .breadcrumbs ul
{
	margin:0; padding:0;
}

#installer .breadcrumbs li
{
display: inline;
list-style-type: none;
padding: 0 10px;
}

#installer .breadcrumbs .active {
	font-weight:bold;
	font-size:1.5em;
}

#installer .step {
	border-top:1px solid #fff;
	padding-top:20px;
}

#installer .finish {
	text-align:center;
	padding:10px;
}

#installer select {
	width:252px;
}

#installer input {
	width:242px;
}
#installer .database {
	height:28px;
}
#installer .pager {

	padding:6px 0;
}

#installer .btn {
	padding:14px;
}

#installer .btn-primary {
	position:relative;
	top:24px;
	width:280px;
	margin-bottom:10px;
}

#installer .confirm-db {
	display: none;

}

#installer form {width:280px; margin:0 auto;}
#installer form legend {text-align:center; border-bottom:0;}

